<header class="p-3 navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a class="nav-link px-2 text-dark" routerLink="/trabajadores"><b>Trabajadores</b></a></li>
      </ul>
      <div class="text-end">
        <button type="button" class="btn btn-primary" [routerLink]="['/trabajadores/form']">Registrar</button>
      </div>
    </div>
  </div>
</header>